:root {
  --primary: rgba(1, 1, 1, 0.623);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../asset/background.png") no-repeat center center
    fixed;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 7%;
  min-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);
}

.navbar-logo img {
  height: 40px;
  width: auto;
}

.navbar .navbar-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5rem;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar .navbar-nav a:hover {
  color: #ffffff;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid #c4c71a;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  overflow: hidden;
}

.landing .content {
  /* Hapus height fix jika ingin benar-benar center pada semua resolusi */
  margin: auto 0;
  background: rgba(255, 255, 255, 0.97);
  color: #222;
  border-radius: 32px;
  box-shadow: 0 32px 32px rgba(0, 0, 0, 0.18);
  padding: 56px 64px;
  max-width: 1100px;
  width: 100vw;
  height: 500px;
  min-height: 400px;
  display: flex;
  gap: 56px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}